
<md-dialog my-setter width-in-percent="50" height-in-percent="70" layout="column" layout-align="start stretch">
    <div flex="10" layout layout-align="start stretch" class="dialog-header">
        <div flex layout layout-align="start center" > {{dialogHeading}} </div>
        <div flex="5" layout layout-align="start stretch" class="pointer" ng-click="Close()">
            <md-icon md-svg-src="{{SVG.clear}}" layout layout-align="center center"></md-icon>
        </div>
    </div>
    <div flex class="dialog-content" layout="column" layout-align="start stretch">
        <div flex layout layout-align="start stretch" my-setter padding="10">
            <div flex="20" layout layout-align="start stretch">
                <div flex layout layout-align="end center"> Supplier Name: </div>
            </div>
            <div flex="5"></div>
            <select flex
                ng-model="payable.supplier_id" 
                ng-options="list.id as list.name for list in supplierList"
                >
            </select>
        </div>
        <div flex layout layout-align="start stretch" my-setter padding="10">
            <div flex="20" layout layout-align="start stretch">
                <div flex layout layout-align="end center"> Delivery Date: </div>
            </div>
            <div flex="5"></div>
            <input flex type="date" ng-model="payable.delivery_date">
        </div>
        <div flex layout layout-align="start stretch" my-setter padding="10">
            <div flex="20" layout layout-align="start stretch">
                <div flex layout layout-align="end center"> Purchase Order ID: </div>
            </div>
            <div flex="5"></div>
            <input flex type="text" ng-model="payable.po_id">
            <!-- <select flex
                ng-model="payable.po_id" 
                ng-options="list.customer_po_id as list.customer_po_id for list in purchaseOrderList"
                >
            </select> -->
            <!-- <select flex ng-model="selectedPurchaseOrder" ng-change="ChangePurchaseOrder(selectedPurchaseOrder)">
                <option value="" disabled selected>Select purchase order</option>
                <option ng-repeat="list in purchaseOrderList" value = "{{list.customer_po_id}}" >{{list.customer_po_id}}</option>
            </select> -->
        </div>
        <div flex layout layout-align="start stretch" my-setter padding="10">
            <div flex="20" layout layout-align="start stretch">
                <div flex layout layout-align="end center"> Supplier DR ID: </div>
            </div>
            <div flex="5"></div>
            <input flex type="text" placeholder="Supplier DR ID" ng-model="payable.supplier_dr_id">
        </div>
        <div flex layout layout-align="start stretch" my-setter padding="10">
             <div flex="20" layout layout-align="start stretch">
                <div flex layout layout-align="end center"> Terms: </div>
            </div>
            <div flex="5"></div>
            <input flex type="number" placeholder="Terms" ng-model="payable.terms">
        </div>
        <div flex layout layout-align="start stretch" my-setter padding="10">
             <div flex="20" layout layout-align="start stretch">
                <div flex layout layout-align="end center"> Due Date: </div>
            </div>
            <div flex="5"></div>
            <input flex type="date" ng-model="payable.due_date">
        </div>
        <div flex layout layout-align="start stretch" my-setter padding="10">
             <div flex="20" layout layout-align="start stretch">
                <div flex layout layout-align="end center"> Remarks: </div>
            </div>
            <div flex="5"></div>
            <textarea ng-model="payable.remarks" rows="4" cols="90" flex></textarea>
        </div>
        <div flex></div>
        <div flex="10" layout layout-align="start stretch">
            <div flex></div>
            <md-button flex="10" class="md-raised button-submit" ng-click="SubmitNewPayableDetails()">Submit</md-button>
        </div>
    </div>
</md-dialog>