<div layout="column" layout-align="start stretch" flex style="background-color:whitesmoke">
    <div flex="10" class="assessment-card" layout="column" layout-align="start stretch" my-setter padding="10">
        <div flex layout="column" layout-align="start stretch">
            <span class="header-title">Payables Page</span>
        </div>
        <div flex></div>
        <div flex layout layout-align="start stretch">
            <span class="header-subtitle">Page for viewing, adding and modifying Migatsu's payable item.</span>
        </div>
    </div>
    <div flex layout layout-align="start stretch" my-setter padding="10">
        <div layout="column" flex layout layout-align="start stretch">
            <div flex="10" layout="row" layout-align="start stretch" class="table-menu">
                <div flex></div>
                <div flex="20" layout="row" layout-align="center stretch" class="settings pointer add-button" ng-click="AddNewPayable($event);">
                    <div flex layout layout-align="center center" > Add New Payable </div>
                </div>
                <div flex="5"></div>
                <div flex="25" layout layout-align="center stretch">
                    <md-icon md-svg-src="{{SVG.search}}" my-setter padding="10"></md-icon>
                    <input type="text" flex my-setter layout layout-align="center center" placeholder="What are you looking for?" ng-model="searchList">
                </div>
            </div>
            <div layout="row" flex="10" layout layout-align="start stretch" class="table table-header">
                <!-- <div flex layout layout-align="center center" ng-repeat="field in tableFieldNames">{{field}}</div> -->
                <div flex="30" layout layout-align="center center" layout-padding> Supplier Name </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="center center" layout-padding> PO # </div>
                <div flex layout layout-align="center center" layout-padding> Delivery Date </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="center center" layout-padding> Supplier DR # </div>
                <div flex layout layout-align="center center" layout-padding> Terms </div>
                <div flex layout layout-align="center center" layout-padding> Due Date </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="center center" layout-padding> Overdue Days </div>
                <div flex layout layout-align="center center" layout-padding> Remarks </div>
                <div flex layout layout-align="center center"></div>
            </div>
            <div layout="row" flex="none" my-setter height-in-percent="8" layout layout-align="start stretch" class="table-values" ng-if="payableList.length == 0">
                <div flex layout layout-align="center center"> No data Available </div>
            </div>
            <div layout="row" flex="none" my-setter height-in-percent="7" layout layout-align="start stretch" class="table-values pointer no-animation" 
                ng-repeat="list in filtered = (payableList | filter:searchList) | limitTo:10:(currentPage - 1)*10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex="none" my-setter width-in-percent="4" ng-class="CheckDueDate(list) >= 0 ? 'warning' : ''"></div>
                    <div flex layout layout-align="start center" layout-padding> {{list.name}} </div>
                </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="start center"layout-padding> {{list.po_id}} </div>
                <div flex layout layout-align="start center" layout-padding> {{list.delivery_date}} </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="start center" layout-padding> {{list.supplier_dr_id}} </div>
                <div flex layout layout-align="start center" layout-padding> {{list.terms}} </div>
                <div flex layout layout-align="start center" clayout-padding> {{list.due_date}} </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="start center" layout-padding> {{list.overdue_days}} </div>
                <div flex layout layout-align="start center" layout-padding> {{list.remarks}} </div>
                <div flex layout layout-align="start stretch">
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="ToggleDone(list)">
                        <md-tooltip md-direction="top">Click to process this payable as done</md-tooltip>
                        <md-icon md-svg-src="{{SVG.check}}" layout layout-align="center center"></md-icon>
                    </div>
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="EditPayable(list, $event)">
                        <md-tooltip md-direction="top">Edit payable item</md-tooltip>
                        <md-icon md-svg-src="{{SVG.edit}}" layout layout-align="center center"></md-icon>
                    </div>
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="DeletePayable(list, $event)">
                        <md-tooltip md-direction="top">Delete payable item</md-tooltip>
                        <md-icon md-svg-src="{{SVG.remove_bin}}" layout layout-align="center center"></md-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex="10" layout="row" layout-align="center stretch">
        <div flex="15" layout layout-align="center center">
            <md-icon md-svg-src="{{SVG.left}}" layout layout-align="center center" flex ng-class="currentPage == 1 ? 'not-allowed' : 'pointer'" ng-click="PreviousPage()"></md-icon>
            <div flex layout layout-align="center center"> {{currentPage}} </div>
            <md-icon md-svg-src="{{SVG.right}}" layout layout-align="center center" flex ng-class="(currentPage + 1)*10 >= filtered.length ? 'not-allowed': 'pointer'" ng-click="NextPage()"></md-icon>
        </div>
    </div>
    <div flex="5"></div>
</div>