<div layout="column" layout-align="start stretch" flex style="background-color:whitesmoke">
    <div flex="10" class="assessment-card" layout="column" layout-align="start stretch" my-setter padding="10">
        <div flex layout="column" layout-align="start stretch">
            <span class="header-title">Inventory Page</span>
        </div>
        <div flex></div>
        <div flex layout layout-align="start stretch">
            <span class="header-subtitle">Page for viewing, adding and modifying Migatsu's inventory.</span>
        </div>
    </div>
    <div flex layout layout-align="start stretch" my-setter padding="10">
        <div layout="column" flex layout layout-align="start stretch">
            <div flex="10" layout="row" layout-align="start stretch" class="table-menu">
                <div flex></div>
                <div flex="20" layout="row" layout-align="center stretch" class="settings pointer add-button" ng-click="AddNewInventory($event);">
                    <div flex layout layout-align="center center" > Add Inventory Item </div>
                </div>
                <div flex="5"></div>
                <div flex="25" layout layout-align="center stretch">
                    <md-icon md-svg-src="{{SVG.search}}" my-setter padding="10"></md-icon>
                    <input type="text" flex my-setter layout layout-align="center center" placeholder="What are you looking for?">
                </div>
            </div>
            <div layout="row" flex="10" layout layout-align="start stretch" class="table table-header">
                <div flex layout layout-align="center center" ng-repeat="field in tableFieldNames">{{field}}</div>
                <div flex layout layout-align="center center"></div>
            </div>
            <div layout="row" flex="none" my-setter height-in-percent="8" layout layout-align="start stretch" class="table-values" ng-if="inventoryList.length == 0">
                <div flex layout layout-align="center center"> No data Available </div>
            </div>
            <div layout="row" flex="none" my-setter min-height-in-percent="7" layout layout-align="start stretch" class="table-values" 
            ng-class="CheckThreshold(inventory) === 'warning' ? 'warning' : ''" ng-repeat="inventory in inventoryList | limitTo:10:(currentPage-1)*10+1" >
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.supplier_name}} </div>
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.product_id}} </div>
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.product_description}} </div>
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.purchase_price}} </div>
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.balance}} </div>
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.threshold}} </div>
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.location}} </div>
                <div flex layout layout-align="center center" my-setter padding="5"> {{inventory.remarks}} </div>
                <div flex layout layout-align="start stretch" my-setter padding="5">
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="EditInventoryItem(inventory, $event)">
                        <md-tooltip md-direction="top">Edit inventory item</md-tooltip>
                        <md-icon md-svg-src="{{SVG.edit}}" layout layout-align="center center"></md-icon>
                    </div>
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="DeleteInventoryItem(inventory, $event)">
                        <md-tooltip md-direction="top">Delete inventory item</md-tooltip>
                        <md-icon md-svg-src="{{SVG.remove_bin}}" layout layout-align="center center"></md-icon>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div flex="10" layout="row" layout-align="center stretch">
        <div flex="15" layout layout-align="center center">
            <md-icon md-svg-src="{{SVG.left}}" layout layout-align="center center" flex ng-class="currentPage == 1 ? 'not-allowed' : 'pointer'" ng-click="PreviousPage()"></md-icon>
            <select flex
                ng-model="currentPage" 
                ng-options="i for i in _.range(1,(inventoryList.length/10))">
            </select>
            <md-icon md-svg-src="{{SVG.right}}" layout layout-align="center center" flex ng-class="(currentPage + 1)*10 >= inventoryList.length ? 'not-allowed': 'pointer'" ng-click="NextPage()"></md-icon>
        </div>
    </div>
    <div flex="5"></div>
</div>