<style>
    
</style>
<div layout="column" layout-align="start stretch" flex style="background-color:whitesmoke">
    <div flex="10" class="assessment-card" layout="column" layout-align="start stretch" my-setter padding="10">
        <div flex layout="column" layout-align="start stretch">
            <span class="header-title">Receivables Page</span>
        </div>
        <div flex></div>
        <div flex layout layout-align="start stretch">
            <span class="header-subtitle">Page for viewing, adding and modifying Migatsu's receivable item.</span>
        </div>
    </div>
    <div flex layout layout-align="start stretch" my-setter padding="10">
        <div layout="column" flex layout layout-align="start stretch">
            <div flex="10" layout="row" layout-align="start stretch" class="table-menu">
                <div flex></div>
                <div flex="20" layout="row" layout-align="center stretch" class="settings pointer add-button" ng-click="AddNewReceivable($event);">
                    <div flex layout layout-align="center center" > Add New Receivable </div>
                </div>
                <div flex="5"></div>
                <div flex="25" layout layout-align="center stretch">
                    <md-icon md-svg-src="{{SVG.search}}" my-setter padding="10"></md-icon>
                    <input type="text" flex my-setter layout layout-align="center center" placeholder="What are you looking for?" ng-model="searchList">
                </div>
            </div>
            <div layout="row" flex="10" layout layout-align="start stretch" class="table table-header">
                <!-- <div flex layout layout-align="center center" ng-repeat="field in tableFieldNames">{{field}}</div> -->
                <div flex="30" layout layout-align="center center" > Customer Name </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="center center" > PO # </div>
                <div flex layout layout-align="center center" > Delivery Date </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="center center" > Amount </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="center center" > Invoice # </div>
                <div flex="5" layout layout-align="center center" > Terms </div>
                <div flex layout layout-align="center center" > Due Date</div>
                <div flex="5" layout layout-align="center center" > Overdue Days </div>
                <div flex layout layout-align="center center" > Remarks </div>
                <div flex layout layout-align="center center"></div>
            </div>
            <div layout="row" flex="none" my-setter height-in-percent="8" layout layout-align="start stretch" class="table-values" ng-if="receivableList.length == 0">
                <div flex layout layout-align="center center"> No data Available </div>
            </div>
            <div layout="row" flex="none" my-setter height-in-percent="7" layout layout-align="start stretch" class="table-values pointer no-animation" 
            ng-repeat="list in filtered = (receivableList|filter:searchList) | limitTo:10:(currentPage - 1)*10" >
            <!--ng-class="CheckDueDate(list) >= 0 ? 'warning' : ''"-->
                <div flex="30" layout layout-align="start stretch">
                    <div flex="none" my-setter width-in-percent="4" ng-class="CheckDueDate(list) >= 0 ? 'warning' : ''"></div>
                    <div flex layout layout-align="start center" class="padding-left"> {{list.name}} </div>
                </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="start center" layout-padding> {{list.po_id}} </div>
                <div flex layout layout-align="start center" layout-padding> {{list.delivery_date}} </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="start center" layout-padding> {{list.amount}} </div>
                <div flex="none" my-setter width-in-percent="8" layout layout-align="start center" layout-padding> {{list.invoice_id}} </div>
                <div flex="5" layout layout-align="start center" layout-padding> {{list.terms}} </div>
                <div flex layout layout-align="start center" layout-padding> {{list.due_date}} </div>
                <div flex="5" layout layout-align="start center" layout-padding> {{list.overdue_days}} </div>
                <div flex layout layout-align="start center" layout-padding> {{list.remarks}} </div>
                <div flex layout layout-align="start stretch">
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="ToggleDone(list)">
                        <md-tooltip md-direction="top">Click to process this receivable as done</md-tooltip>
                        <md-icon md-svg-src="{{SVG.check}}" layout layout-align="center center"></md-icon>
                    </div>
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="EditReceivable(list, $event)">
                        <md-tooltip md-direction="top">Edit receivable item</md-tooltip>
                        <md-icon md-svg-src="{{SVG.edit}}" layout layout-align="center center"></md-icon>
                    </div>
                    <div flex layout layout-align="start stretch" class="pointer" ng-click="DeleteReceivable(list, $event)">
                        <md-tooltip md-direction="top">Delete receivable item</md-tooltip>
                        <md-icon md-svg-src="{{SVG.remove_bin}}" layout layout-align="center center"></md-icon>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div flex="10" layout="row" layout-align="center stretch">
        <div flex="15" layout layout-align="center center">
            <md-icon md-svg-src="{{SVG.left}}" layout layout-align="center center" flex ng-class="currentPage == 1 ? 'not-allowed' : 'pointer'" ng-click="PreviousPage()"></md-icon>
            <div flex layout layout-align="center center"> {{currentPage}} </div>
            <md-icon md-svg-src="{{SVG.right}}" layout layout-align="center center" flex ng-class="(currentPage + 1)*10 >= receivableList.length ? 'not-allowed': 'pointer'" ng-click="NextPage()"></md-icon>
        </div>
    </div>
    <div flex="5"></div>
</div>