
<md-dialog my-setter width-in-percent="80" height-in-percent="100" layout="column" layout-align="start stretch">
    <div flex="10" layout layout-align="start stretch" class="dialog-header">
        <div flex layout layout-align="start center" > {{dialogHeading}} </div>
        <div flex="5" layout layout-align="start stretch" class="pointer" ng-click="Close()">
            <md-icon md-svg-src="{{SVG.clear}}" layout layout-align="center center"></md-icon>
        </div>
    </div>
    <ng-form name="dialogForm" flex class="dialog-content" layout="row" layout-align="start stretch" ng-submit="SubmitNewPurchaseOrderDetails()">
        <div flex layout="column" layout-align="strt stretch">
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> Customer Name: <i class="input-required"> * </i></div>
                </div>
                <div flex="5"></div>
                <select flex
                    ng-model="po.customer_id" 
                    ng-options="list.id as list.name for list in customerList"
                    ng-required="true">
                </select>
            </div>
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> PO Number <i class="input-required"> * </i></div>
                </div>
                <div flex="5"></div>
                <input flex type="text" placeholder="PO Number" ng-model="po.customer_po_id" ng-required="true">
            </div>
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> Promised Delivery Date: <i class="input-required"> * </i></div>
                </div>
                <div flex="5"></div>
                <input flex type="date" ng-model="po.promised_delivery_date" ng-required="true">
            </div>
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> Actual Delivery Date: <i class="input-required"> * </i></div>
                </div>
                <div flex="5"></div>
                <input flex type="date" ng-model="po.actual_delivery_date" ng-required="true">
            </div>
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> Invoice Number: </div>
                </div>
                <div flex="5"></div>
                <input flex type="text" placeholder="Invoice Number" ng-model="po.invoice_id">
            </div>
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> Total Amount: </div>
                </div>
                <div flex="5"></div>
                <input flex type="number" placeholder="Total PO Amount" ng-model="po.amount">
            </div> 
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> DR Number: </div>
                </div>
                <div flex="5"></div>
                <input flex type="text" placeholder="DR Number" ng-model="po.dr_id">
            </div> 
            <div flex layout layout-align="start stretch" my-setter padding="10">
                <div flex="30" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> Remarks: </div>
                </div>
                <div flex="5"></div>
                <textarea ng-model="po.remarks" rows="4" cols="90" flex></textarea>
            </div> 
        </div>
        <div flex layout="column" layout-align="start stretch">
            <div flex="none" layout layout-align="start stretch" my-setter padding="10" style="overflow-y:auto;">
                <div flex="25" layout layout-align="start stretch">
                    <div flex layout layout-align="end center"> Orders: </div>
                </div>
                <div flex="5"></div>
                <div flex="none" layout="column" layout-align="start stretch" height-in-percent="10">
                    <div flex layout="row" layout-align="start stretch" ng-repeat="list in po.order_list track by $index" my-setter padding="5">
                        <div flex="20" layout layout-align="start stretch">
                            <select flex
                                ng-model="po.order_list[$index].id" 
                                ng-options="list.id as list.product_id for list in inventoryList"
                               ng-required="true" >
                            </select>
                        </div>
                        <div flex="none" my-setter width-in-percent="1"></div>
                        <div flex="20" layout layout-align="center stretch">
                            <input flex type="number" placeholder="Quantity" ng-model="po.order_list[$index].quantity" ng-required="true">
                        </div>
                        <div flex="none" my-setter width-in-percent="1"></div>
                        <div flex layout layout-align="center stretch">
                            <input flex type="text" placeholder="Description" ng-model="po.order_list[$index].description">
                        </div>
                    </div>
                </div>
            </div>
            <div flex="10" layout layout-align="start stretch">
                <div flex="15"></div>
                <div flex layout layout-align="start stretch">
                    <md-button flex class="md-raised buttons-submit" ng-click="AddNewOrder()"> Add New Order </md-button>
                </div>
            </div>
        </div>
        <div flex="10" layout layout-align="start stretch" class="dialog-content">
            <div flex></div>
            <md-button flex="10" class="md-raised button-submit" ng-click="SubmitNewPurchaseOrderDetails()" ng-disabled="dialogForm.$error.required.length > 0">Submit</md-button>
        </div>
    </ng-form>
    
        
</md-dialog>