
<div layout="column" layout-align="start stretch" flex style="background-color:whitesmoke">
    <div flex="10" class="assessment-card" layout="column" layout-align="start stretch" my-setter padding="10">
        <div flex layout="column" layout-align="start stretch">
            <span class="header-title">System Logs Page</span>
        </div>
        <div flex></div>
        <div flex layout layout-align="start stretch">
            <span class="header-subtitle">Page for viewing actions of users in the system</span>
        </div>
    </div>
    <div flex layout layout-align="start stretch" my-setter padding="10">
        <div layout="column" flex layout layout-align="start stretch">
            <div flex="10" layout="row" layout-align="center stretch" class="table-menu">
                <div flex layout layout-align="end stretch">
                    <div flex="25" layout layout-align="start stretch">
                        <md-icon md-svg-src="{{SVG.search}}" my-setter padding="10"></md-icon>
                        <input type="text" flex placeholder="What are you looking for?" ng-model="searchLogs">
                    </div>
                </div>
                
            </div>
            <div layout="row" flex="10" layout layout-align="start stretch" class="table table-header">
                <div flex layout layout-align="center center" ng-repeat="field in tableFieldNames">{{field}}</div>
            </div>
            <div layout="row" flex="none" my-setter height-in-percent="8" layout layout-align="start stretch" class="table-values" ng-if="logList.length == 0">
                <div flex layout layout-align="center center"> No data Available </div>
            </div>
             <div layout="row" flex="none" my-setter height-in-percent="8" layout layout-align="start stretch" class="table-values no-animation" 
                ng-repeat="log in filtered=(logList | filter: searchLogs) | limitTo:10:(currentPage-1)*10">
                <div flex layout layout-align="start center" layout-padding> {{log.name}} </div>
                <div flex layout layout-align="start center" layout-padding> {{log.page}} </div>
                <div flex layout layout-align="start center" layout-padding> {{log.action}} </div>
                <div flex layout layout-align="start center" layout-padding> {{log.timestamp}} </div>
            </div> 
            
        </div>
    </div>
    <div flex="10" layout="row" layout-align="center stretch">
        <div flex="15" layout layout-align="center center">
            <md-icon md-svg-src="{{SVG.left}}" layout layout-align="center center" flex ng-class="currentPage == 1 ? 'not-allowed' : 'pointer'" ng-click="PreviousPage()"></md-icon>
            <div flex layout layout-align="center center"> {{currentPage}} </div>
            <md-icon md-svg-src="{{SVG.right}}" layout layout-align="center center" flex ng-class="(currentPage + 1)*10 >= filtered.length ? 'not-allowed': 'pointer'" ng-click="NextPage()"></md-icon>
        </div>
    </div>
    <div flex="5"></div>
</div>